/* want to start off with a few niceties */
body {
	margin: 5em;
	background-color: #eee;
}

body.hasFlex {
	display: flex;
}

body.hasColumns {
	flex-direction: row;
}

body.hasFade {
	transition-property: opacity;
	transition-duration: 200ms;
}

section.padx {
	padding-left: 5em;
	padding-right: 5em;
}

body>section {
	padding-right: 5em;
}

section>div {
	padding-top: 2em;
}

@media screen and (max-width:1200px) {
	.hasFlex {
		flex-wrap: wrap;
	}

	.hasFlex>section {
		display: flex;
		width: 100vw;
		flex-direction: column;
	}
	.hasFlex>section>section{
		align-self: center;
	}

	.hasFlex {
		flex-direction: column;
	}

	/* .hasFlex:first-child { flex-basis: 100%; } */
}